  h1 {
      margin-left: 20px;
      text-align: center;
      color: rgb(0, 119, 255);
      margin-bottom: 50px;
  }

  button {
      border: none;
      padding: 40px;
      border-radius: 50%;
      background-color: rgb(54, 36, 188);
      color: white;
      font-size: 70px;
  }

  body {
      text-align: center;
  }

  #bt {
      background-color: rgb(6, 180, 238);
      border-radius: 60px;
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
  }
  #btn-auto{
      background-color: rgb(6, 180, 238);
      border-radius: 60px;
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
  }