h1 {
  margin-left: 20px;
  text-align: center;
  color: rgb(0, 119, 255);
  margin-bottom: 50px;
}

button {
  border: none;
  padding: 30px;
  border-radius: 50%;
  background-color: rgb(3, 151, 242);
  color: white;
  font-size: 70px;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida   Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  border: 2px solid rgb(237, 34, 34);
  background-color: rgb(205, 200, 195);
  margin-top: 70px;
  padding-bottom: 20px;
  margin: 100px 100px 100px 100px;
  text-overflow: clip;
}

#bt {
  background-color: rgb(6, 180, 238);
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

#btn-auto {
  background-color: rgb(6, 180, 238);
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
